@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
}

.container,
.userInput,
.image,
.generation,
.regions,
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding: 1rem;
  justify-content: space-between;
}
header svg{
  width: 30px;
  height: 30px;
}
main {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 125px);
}

.container {
  width: 80%;
  background: #ffffff44;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 black;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  background-image: url("../assets/pokemonroute.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}
.userInput,
.image {
  width: 50%;
  flex-direction: column;
}
img {
  width: 100%;
}
input {
  width: 50%;
  padding: 1rem;
}
button {
  border: none;
  width: 50%;
  padding: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
.toast {
  color: red;
  background: #ffffff44;
  display: block;
  font-size: 0.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
.generation {
  width: 33.333%;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 0.75rem;
  background: #ffffffa1;
}
.regions {
  margin-top: 2rem;
  width: 100%;
  flex-wrap: wrap;
}
.scoring{
  margin-top: 2rem;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column !important;
  }
  .userInput {
    width: 100% !important;
  }
  input,
  button {
    padding: 0.75rem;
  }
  .image {
    padding-bottom: 1rem;
  }
  .container{
    margin-bottom: 2rem;
  }
  h2{
    font-size: 1rem;
  }
}
